<div class="screen">
    @if(votouPraVereador == false){
    <div>
        <div class="separator">
            <div class="a">
                <div class="retang">
                    <span>{{ tipoDeCandidato }}</span>
                </div>
                <div class="retang">
                    <span>{{ nome }}</span>
                </div>
            </div>
            <div class="image">
                <img [src]="imagem" alt="">
            </div>
        </div>
        <div class="texts">
            <span>NUMERO: {{ numero }}</span>
            <span>PARTIDO: {{ partido }}</span>
        </div>
    </div>}
    @if(votouPraVereador == true){
    <div class="fim">
        <span>FIM</span>
    </div>}
</div>