<div class="page">
    <div class="voltar">
        <button routerLink=""><img src="./back.svg" alt=""></button>
    </div>
    <div class="cadastro">
        <span>CADASTRO</span>
        <input class="input" type="text" [(ngModel)]="novoCandidato.nome" placeholder="NOME">
        <input class="input" type="text" [(ngModel)]="novoCandidato.partido" placeholder="PARTIDO">
        <input class="input" type="text" maxlength="4" [(ngModel)]="novoCandidato.numero" placeholder="NÚMERO">
        <button (click)="adicionar()">CONFIRMAR</button>
    </div>
</div>