<div class="page">
    <div class="voltar">
        <button routerLink=""><img src="./back.svg" alt=""></button>
    </div>
    <div class="cadastro">
        <span>CADASTRO</span>
        <input type="text" placeholder="NOME">
        <input type="text" placeholder="PARTIDO">
        <input type="text" placeholder="NÚMERO">
        <select name="TIPO DE CANDIDATO" id="">
            <option value="">PREFEITO</option>
            <option value="">VEREADOR</option>
        </select>
        <button>CONFIRMAR</button>
    </div>
</div>